@media (max-width: 1400px) {
    .container {
        max-width: 1140px;
    }
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 500px;
            column-gap: 35px;
        }
        &__skills {
            gap: 20px 20px;
            &-item {
                grid-template-columns: 40px 170px;
                gap: 20px 15px;
            }
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
        .title {
            &_fz36 {
                font-size: 30px;
            }    
        }
    }
    .about {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template: repeat(2,minmax(115px,auto)) / 380px;
            &-item {
                grid-template-columns: 40px 320px;
            }
            &-text {
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
        &_fz16 {
            font-size: 18px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') 61%/cover no-repeat;
        &__title {
            line-height: 39px;
            width: 300px;
        }
        &__btns {
            width: 208px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto))/repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
}
@media (max-width: 576px) {
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz16 {
            font-size: 16px;
        }
        &_fz36 {
            font-size: 24px;
        }    
    }
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .hamburger{
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') 55%/cover no-repeat;
        .title {
            &_fz16 {
                font-size: 16px;
            }
        }
        &__btns {
            width: 208px;
            margin-top: 32px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 320px repeat(auto) / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template: repeat(auto, minmax(115px, auto)) / 1fr
        }
    }
}
